<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <body id="main">
    <header class="banner">
        <div class="name centre">Holiday Randomiser</div>
        <P class="menu">
        <!--<nav class="nav nav-pills flex-column flex-sm-row menu">-->
            <!--<a href="#" class="flex-sm-fill text-sm-center nav-link active menu-item">Home</a>-->
            <a href="#" class="menu-item">Home</a>
            <a href="#" class="menu-item">About</a>
            <a href="#" class="menu-item">Countries</a>
        </p>
    </header>
    
    <center><div id="earth"></div></center>
    <div>
    <form class="countryChoice" method="GET" action="/country">
        <input name="country" id="country" type="hidden">
        <button type="submit" name="submit" class="submit">Submit</button> 
        
    </form> 
    </div> 

    <script src="/static/script.js"></script>
</body>
</html>